<ul class="slider" data-orbit>

- images = @banner.banner_images
- images.each do |image|
  %li
    = image_tag image.image_url(:banner)
    - unless image.caption.blank?
      .orbit-caption
        = image.caption
</ul>