// All main application CSS rules located here
$menu-font:	'Roboto Condensed', sans-serif;
$menu-font-size: 22px;
$menu-background-color: #282828;

body {
//	background-image: url('/assets/background2.jpg');
//	background-size: cover;
//	background-attachment: fixed;
}

.main_container {
	.row {
		background-color: RGBA(255,255,255,1);
	}
}

header {
	height: 205px;
	width: 100%;
	background-color: #bcd0f4;

	.social_bar {
		height: 133px;
		background-color: #fff;
		span {
			font-family: $menu-font;
			color: #111;
		}
		a {
			font-family: $menu-font;
			color: #eeeeee;
			&:visited {
				color: #eeeeee;
			}
		}
	}

	.menu {
		height: 72px;
		background-color: $menu-background-color;
		ul {
			list-style-type: none;
			margin-left: 40px;
			padding-top: 20px;

			li {
				display: block;
				float: left;
				margin-right: 40px;
				a {
					color: #ccc;
					font-family: 'Roboto Condensed';
					font-size: $menu-font-size;
					font-weight: 300;
					text-transform: uppercase;
					&:visited {
						color: #ccc;
					}
					&:hover {
						background-color: transparent;
						color: #fff;
						-webkit-transition: all 0.3s ease-in-out ;
						-moz-transition: all 0.3s ease-in-out ;
						-ms-transition: all 0.3s ease-in-out ;
						-o-transition: all 0.3s ease-in-out ;
						transition: all 0.3s ease-in-out ;
					}
				}
			}
		}
	}
}

.main_content {
	border: 1px solid black;
}

.article_content {
	font-size: 21px;
	color: #353535;

	p {
		font-size: 20px;
		font-family: "Sorts Mill Goudy";
		line-height: 1.5;
	}

	blockquote {
		font-style: italic;
	}
}

h3.article_title {
	font-family: "Cordo";
	font-family: "Roboto Condensed";
	color: #484848;
	font-size: 48px;
	text-transform: uppercase;
	margin-bottom: 24px;
	text-align: center;
	border-bottom: 1px solid #aaa;
	padding-bottom: 12px;
	font-weight: 700;
}

p.article-preview {
	font-family: "Sorts Mill Goudy";
	font-family: "Cordo";
	font-size: 18px;
	text-align: center;
	font-style: italic;
	margin-bottom: 48px;
}

.article-details {
	img.author-image {
		border-radius: 100px;
	}

	p {
		font-family: $menu-font;
	}
}


#home {
	background: url("/assets/background2.jpg") 50% 0 repeat fixed;
	min-height: 1000px;
	margin: 0 auto;
	width: 100%;
	max-width: 1920px;
	position: relative;
}

