// All main application CSS rules located here
$menu-font:	'Roboto Condensed', sans-serif;
$menu-font-size: 20px;
$menu-background-color: #e13782;

header {
	height: 200px;
	width: 100%;
	background-color: #bcd0f4;

	.social_bar {
		height: 30px;
		background-color: #404040;
		span {
			font-family: $menu-font;
			color: #eeeeee;
		}
		a {
			font-family: $menu-font;
			color: #eeeeee;
			&:visited {
				color: #eeeeee;
			}
		}
	}

	.logo {
		height: 110px;
	}

	.menu {
		height: 60px;
		background-color: $menu-background-color;
		padding:20px 0;
		ul {
			list-style-type: none;
			li {
				display: block;
				float: left;
				margin-right: 25px;
				a {
					color: #444;
					font-family: $menu-font;
					font-size: $menu-font-size;
				}
				&:visited {
					color: #444;
				}
			}
		}
	}
}

.main_content {
	border: 1px solid black;
}

.article_content {
	font-size: 21px;
	color: #353535;

	p {
		font-size: 20px;
		font-family: "Sorts Mill Goudy";
		line-height: 1.5;
	}

	blockquote {
		font-style: italic;
	}
}

h3.article_title {
	font-family: "Sorts Mill Goudy";
	color: #444444;
	font-size: 36px;
	text-transform: capitalize;
	margin-bottom: 36px;
}

.article-details {
	img.author-image {
		border-radius: 100px;
	}

	p {
		font-family: $menu-font;
	}
}